/* CSS files add styling rules to your content */

body {
  font-family: "Garamond Premiere Pro", serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/13201e79-aabc-4663-8557-06900c645b0f%2Fpls.jpg?v=1605411619237");
  background-colour: white;
  background-repat: no repeat;
  background-size: 100%;
}

h1 {
  font-style: italic;
  color: #FFFFFF;
}

h2 {
  font-style: italic;
  color: #FFFFFF;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: #A9A9A9;
}

h4 {
  font-family: "Rubik", sans-serif;
  color: #A9A9A9;
}

h5 {
  font-family: "Rubik", sans-serif;
  color: #A9A9A9;
}

h6 {
  font-family: "Rubik", sans-serif;
  color: #A9A9A9;
}

* {
  box-sizing: border-box;
}

.box {
  border: 5px solid grey;
  float: left;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.whitebox {
  background-color: white;
  overflow: auto;
}
.blackbox {
  background-color: black;
}
.whitebox {
  background-color: white;
}
.blackbox {
  background-color: black;
}
.whitebox {
  background-color: white;
}
.blackbox {
  background-color: #000000;
  color: #ffffff;
}
.threecol {
  width: 33.33%;
}
.twocol {
  width: 50%;
}
.onecol {
  width: 100%;
}

a {
  border: 2px solid;
  whitepadding: 10px;
}

/* unvisited link */
a:link {
  color: #FFFAF0;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
  background-color: white;
}

/* selected link */
a:active {
  color: #B0C4DE;
}
